{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app2/stylef.css' %}">
    <style>
        @media only screen and (max-width: 480px) {
            body {
                transform: rotate(90deg);
                transform-origin: left top;
                overflow-x: hidden;
                overflow-y: scroll;
                height: 100vh;
                width: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Анкета</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-block">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Готово</button>
        </form>
    </div>
</body>
</html>