{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'app2/det2.css' %}">
</head>
<body>
    <div class="container">
        <aside>
            <h1>Новости</h1>
            <div class="links">
                <li><a href="{% url 'page1' %}">О нас</a></li>
                <li><a href="{% url 'page2' %}">Новости</a></li>
                <li><a href="{% url 'page3' %}">Банк</a></li>
                <li><a href="{% url 'item_lisst' %}">Сотрудничество</a></li>
                <li><a href="{% url 'anketa' %}"class="d">Перейти к анкете</a></li>
            </div>
        </aside>
        <div class="containerr">
            <div class="row">
                {% for el in elem %}
                    <div class="all">
                        <h2>{{ el.name }}</h2>
                        <p>{{ el.title }}</p>
                    </div>
                {% endfor %}
            </div>
        <div>
    </div>
</body>
</html>