* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: black;
    color: #0f0
}

a {
    color: #0f0;
}

.hide {
    display: none;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background: black;
    color: #0f0;
    border: 1px solid #0f0;
}

.main-content {
    width: 85%;
    height: 100vh;
    background: black;
    color: #0f0;
}

.gli img {
    width: 150px;
    height: 150px;
    margin: 20px;
    &::before,
    &::after {
        width: 200px;
        height: 200px;
    }
}
@keyframes glitch-effect {
  0% {
    clip: rect(0px, 150px, 150px, 0px);
  }

  25% {
    clip: rect(50px, 150px, 100px, 0px);
  }

  50% {
    clip: rect(0px, 150px, 150px, 0px);
  }

  75% {
    clip: rect(100px, 150px, 50px, 0px);
  }

  100% {
    clip: rect(150px, 150px, 0px, 0px);
  }
}

.typewriter {
    color: #0f0; /* Цвет текста */
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #0f0; /* Курсор "печатающей машинки" */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* Анимация "печатающей машинки" */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Эффект мигающего курсора */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0f0 }
}