body {
    background: linear-gradient(135deg, #1a1a4b, #2388d6);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
}

aside {
    width: 15%;
    background: linear-gradient(180deg, #2b2b71, #5b3e78);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

aside h1 {
    font-size: 24px;
}

.links {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin: 15px 0;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.links a:hover {
    color: #ff69b4;
}

.containerr {
    flex-grow: 1;
    margin-left: 280px;
    background: linear-gradient(180deg, #1a1a4b, #3b3b89);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: relative;
}

p {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #7b2d9c, #34b09d);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 100;
}

button:hover {
    background: linear-gradient(90deg, #34b09d, #7b2d9c);
    z-index: 10;
}

.containerr h2,
.containerr h3,
.containerr h4 {
    text-align: center;
    margin-top: 0;
}

.containerr h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.containerr h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.containerr h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.content {
    padding: 20px;
    z-index: 1;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    border: 2px solid rgba(255, 255, 255, .2);
    pointer-events: none;
    object-fit: cover;
    background-size: contain;
}
#popup {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background: linear-gradient(to right, #00ffff, #800080);
    border: 5px solid #5b3e78;
    border-radius: 10px;
}
#more-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    bottom: 50px;
}