body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a4b, #2388d6); /* Космический градиент */
    color: #ffffff;
    margin: 0; /* Убираем отступы */
}

.container {
    display: flex;
    height: 100vh; /* Высота страницы */
}

.containerr {
    background: linear-gradient(180deg, #1a1a4b, #3b3b89); /* Космический фон */
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    flex-grow: 1; /* Занимает оставшееся пространство */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.all {
    width: 6%;
    margin: 20px auto; /* Центрируем элемент */
    text-align: center;
    background: radial-gradient(orangered, darkorange);
    border: 5px inset chocolate;
    border-radius: 10px; /* Округление углов блока */
    padding: 20px; /* Добавляем отступ внутри блока */
}

h2, p {
    color: #ffffff; /* Цвет текста заголовков и параграфов */
}

aside {
    width: 250px; /* Ширина сайдбара */
    background: linear-gradient(180deg, #2b2b71, #5b3e78); /* Космический градиент */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}

a {
    text-decoration: none;
    color: #ffffff; /* Цвет ссылок */
    transition: color 0.3s;
}

a:hover {
    color: #ff69b4; /* Цвет при наведении на ссылку */
}

.links {
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы у списка */
}

li {
    margin-bottom: 1rem; /* Отступ между элементами списка */
}
.d {
    width: 0;
    height: 0;
}