body {
    background: #FFBB00;
}
a.item-listt-link {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #ED8C40;
    color: #7E00B0;
    text-align: center;
    margin: 0 auto;
}
h1 {
    font-size: 3rem;
    margin-top: 0;
    padding: 1rem;
    background-color: #C92FBF;
    width: 100%;
    text-align: center;
    color: #7E00B0;
}
p {
    background-color: #ED8C40;
    color: #7E00B0;
}